@import './sass/utils/variables';
@import './sass/components/common.scss';
@import './sass/components/header';
@import './sass/components/wallpaper';
@import './sass/components/wallpaper-button';
@import './sass/components/four-picture';
@import './sass/components/apps';
@import './sass/components/team';
@import './sass/components/customers';
@import './sass/components/footer';
@import './sass/components/joinus';
@import './sass/components/newslatter';
@import './sass/components/modal-window';
@import './sass/components/five-button';
@import './sass/components/card-portfolio';
