* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto';
  font-style: normal;
  letter-spacing: 0.03em;
  color: $gray;
}

h2 {
  margin: 0;
  margin-bottom: 50px;
}

h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.article__item,
.offer__item,
.team__list,
.address,
.button-list,
.products__picture {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;;
}

.button-theme {
  background: $blue;
  box-shadow: $shadow;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  line-height: 1.86;
  letter-spacing: 0.06em;
}

@media screen and (max-width: $lg) {
  .container {
    margin: 0 auto;
    padding-inline:15px;
  }

}
