/*<!-- H E A D E R --><!-- H E A D E R --><!-- H E A D E R --><!-- H E A D E R --> */

.header {
  border-bottom: 1px solid #ececec;

  &__container {
    display: flex;
    height: 80px;
    margin: 0 auto;
    justify-content: center;
    z-index: 1;
  }
}

.navbar {
  display: flex;
  width: 100%;

  &__container {
    @extend .container;
    width: 100%;
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
  }

  &__container--left {
    display: flex;
    align-items: center;
  }

  &__menu {
    display: flex;
  }

  &__list {
    display: flex;
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    gap: 46px;
  }
}

.link {
  position: relative;
  margin: 2px;
  text-decoration: none;
  color: $black-second;
  display: flex;
  align-items: center;
  &:hover,
  &:focus {
    color: $blue;
  }

  &__icon-email {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: $gray;
  }

  &__icon-phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: $gray;
  }
}

.active {
  color: $blue;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    margin-top: 28px;
    background: $blue;
    border-radius: 2px;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

.link--gray {
  text-decoration: none;
  position: relative;
  margin: 2px;
  color: $gray;
  display: flex;
  align-items: center;

  &:hover svg {
    fill: $blue;
    color: $blue;
  }
}


// @media screen@media screen@media screen@media screen@media screen@media screen
// @media screen@media screen@media screen@media screenv@media screen@media screen
// @media screen@media screen@media screen@media screen@media screen@media screen
// @media screen@media screen@media screen@media screen@media screen@media screen
// @media screen@media screen@media screen@media screen@media screen@media screen
// @media screen@media screen@media screen@media screenv@media screen@media screen
// @media screen@media screen@media screen@media screen@media screen@media screen
// @media screen@media screen@media screen@media screen@media screen@media screen



@media screen and (max-width: $lg) {
  .header {
    border-bottom: 1px solid #ececec;

    &__container {
      display: flex;
      height: 80px;
      margin: 0 auto;
      justify-content: center;
      z-index: 1;
    }
  }

  .navbar {
    display: flex;
    &__container {
      @extend .container;
  
      display: flex;
      height: 80px;
      justify-content: space-between;
      align-items: center;
    }

    &__container--left {
      display: flex;
      align-items: center;
    }

    &__menu {
      display: flex;
    }

    &__list {
      display: flex;
      list-style: none;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      gap: 60px;
    }
    
    &__list--tablet {
      display: flex;
      list-style: none;
      flex-direction: column;
      gap:0;
      
      
    }
  }
}
