/* What we do? COMPUTER APPLICATIONS, MOBILE APPLICATIONS, GRAPHIC SOLUTIONS */

.box-hidden {
  display: none;
}

@media (min-width: 1200px) {
  .what-we-do {
    display: flex;
    list-style: none;
    background-color: var(--whitehihi);
  }

  .box-hidden {
    display: block;
  }

  .what-we-do__signature {
    position: absolute;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142857143;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 27px 0px;
    bottom: 0;
    width: 100%;
    background: rgba(47, 48, 58, 0.8);
    color: var(--whitehihi);
  }
}
