.card-portfolio {
  display: flex;
  list-style: none;
  justify-content: center;
}

.card-portfolio--position-left {
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid var(--border);
}

.card-portfolio--position-right {
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid var(--border);
}

.card-portfolio--position-center {
  margin: 15px;
  border: 1px solid var(--border);
}

.card-portfolio__tilte {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 20px;
}

.card-portfolio__description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--blackhawk);
  margin-left: 24px;
  margin-top: 20px;
  margin-right: 24px;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
}

@import '../utils/overlay';

.card-portfolio__box {
  background-size: contain;
  width: 370px;
  height: 294px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

@import './portfolio-img';

.card-portfolio--position-left:hover,
.card-portfolio--position-right:hover,
.card-portfolio--position-center:hover {
  border: 1px solid var(--border);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-portfolio__box:hover .overlay {
  transform: translate(0);
}
