/* Our customers */

.customers-item {
  cursor: pointer;
  border-radius: 4px;
  flex-basis: calc(100% - 30px / 3);
}

.customers {
  display: flex;
  flex-wrap: wrap;
  gap:30px;
}

.customers__box {
  width: 170px;
  height: 92px;
  border: 1px solid var(--gray-special);
  fill: var(--gray-special);
}

.customers__box:hover,
.customers__box:focus {
  fill: var(--kamikaze);
  border-color: var(--kamikaze);
  transition: 0.5s;
}

@media (min-width: 1200px) {
  .customers {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .customers__box {
    width: 170px;
    height: 92px;
    border: 1px solid var(--gray-special);
    border-radius: 4px;
    margin-left: 15px;
    margin-right: 15px;
    fill: var(--gray-special);
    cursor: pointer;
  }

  .customers__box:hover,
  .customers__box:focus {
    fill: var(--kamikaze);
    border-color: var(--kamikaze);
    transition: 0.5s;
  }
}
