/* Our customers */

@media (min-width: 320px) {
  .customers {
    display: block;
    margin-left: 10px;
  }

  .customers__box {
    width: 170px;
    height: 92px;
    border: 1px solid var(--gray-special);
    border-radius: 4px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    fill: var(--gray-special);
    cursor: pointer;
  }

  .customers__box:hover,
  .customers__box:focus {
    fill: var(--kamikaze);
    border-color: var(--kamikaze);
    transition: 0.5s;
  }
}

@media (min-width: 1200px) {
  .customers {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .customers__box {
    width: 170px;
    height: 92px;
    border: 1px solid var(--gray-special);
    border-radius: 4px;
    margin-left: 15px;
    margin-right: 15px;
    fill: var(--gray-special);
    cursor: pointer;
  }

  .customers__box:hover,
  .customers__box:focus {
    fill: var(--kamikaze);
    border-color: var(--kamikaze);
    transition: 0.5s;
  }
}
