/* Our customers */

.customers-item {
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--gray-special);
  flex-basis: calc((100% - 30px) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.customers {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.customers__box {
  width: 170px;
  height: 92px;
  fill: var(--gray-special);
}

.customers__box:hover,
.customers__box:focus {
  fill: var(--kamikaze);
  border-color: var(--kamikaze);
  transition: 0.5s;
}

@media (min-width: 768px) {
  .customers-item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

@media (min-width: 1200px) {
  .customers-item {
    flex-basis: calc((100% - 150px) / 6);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .customers__box:hover,
  .customers__box:focus {
    fill: var(--kamikaze);
    border-color: var(--kamikaze);
    transition: 0.5s;
  }
}
