/* PAGE PORTFOLIO */

.five-buttons {
  margin-left: 295px;
  margin-right: 318px;
  margin-bottom: 41px;
}

.five-buttons-details {
  padding: 6px 22px;
  margin-left: 4px;
  background: var(--buttonwhite);
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
  border: none;
}

.five-buttons-details:hover {
  background-color: var(--kamikaze);
  color: var(--buttonwhite);
  transition: 0.5s;
}