/* footer section */

.footer {
  background-color: var(--shark);
  color: var(--whitehihi);
  height: 252px;
}

.footer-position {
  display: flex;
  list-style: none;
}

.footer--padding {
  padding-top: 60px;
}

.footer-adress--padding {
  padding-top: 20px;
}

.footer-adress--italics {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.footer-email--padding {
  padding-top: 9px;
}

.footer--color {
  color: var(--grayhey);
  font-weight: 500;
}

.footer--color {
  color: var(--grayhey);
  font-weight: 500;
}

@import './footer-logo';
