/* four picture boxes: satellite, clock, computer, astronaut. 
The pictures are accompanied by descriptions. */

@media (min-width: 320px) {
  .boxes__items {
    list-style: none;
  }

  .signature {
    padding-top: 30px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--blackho);
  }

  .signature--position {
    padding-top: 10px;
    width: 100%;
    height: 75px;
    line-height: 24px;
    color: var(--grayhey);
  }

  .box-svg {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 120px;
    background-color: var(--buttonwhite);
  }
}

@media (min-width: 1200px) {
  .boxes {
    background-color: var(--whitehihi);
    padding-top: 80px;
  }

  .boxes__items {
    display: flex;
    list-style: none;
  }

  .signature {
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--blackho);
  }

  .signature--position {
    padding-top: 10px;
    width: 270px;
    height: 75px;
    line-height: 24px;
    color: var(--grayhey);
  }
}
