.header__menu-logo--color {
  color: var(--kamikaze);
}

.header__menu-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.193;
  text-decoration: none;
  color: var(--blackhawk);
}
