/* newsletter */

.newslatter {
  margin-top: 75px;
  margin-left: 70px;
}

.newslatter__label {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px var(--shadow-one));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.newslatter__label::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.newslatter--font {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-bottom: 20px;
}

.newslatter__button {
  background: var(--kamikaze);
  box-shadow: 0px 4px 4px var(--shadow-one);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  margin-top: 113px;
  margin-left: 12px;
  border-color: var(--kamikaze);
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: left;
  padding-left: 42px;
  color: var(--whitehihi);
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 0L0 13.5L7.66994 16.3407L19.5 5.25002L10.5017 17.3896L10.509 17.3923L10.5 17.3896V24.0001L14.8013 18.982L20.2501 21.0001L24 0Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position-x: 148px;
  background-position-y: 13px;
}
