.img-tech {
  background-image: url('../images/portfolio_img9.jpg');
}

.img-diz {
  background-image: url('../images/portfolio_img1.jpg');
}

.img-ap {
  background-image: url('../images/portfolio_img2.jpg');
}

.img-prime {
  background-image: url('../images/portfolio_img3.jpg');
}

.img-pro {
  background-image: url('../images/portfolio_img4.jpg');
}

.img-insp {
  background-image: url('../images/portfolio_img5.jpg');
}

.img-mag {
  background-image: url('../images/portfolio_img6.jpg');
}

.img-lab {
  background-image: url('../images/portfolio_img7.jpg');
}

.img-gro {
  background-image: url('../images/portfolio_img8.jpg');
}
