/* <!-- P I C T U R E S  --> <!-- P I C T U R E S  --> <!-- P I C T U R E S  --> <!-- P I C T U R E S  --> */
.products {
  background: $white;

  &__container {
    @extend .container;
    position: relative;
    z-index: 1;
  }

  &__list {
    margin-top: 50px;
    margin-bottom: 94px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__picture {
    background: $white;
    border: 1px solid $white-second;
    position: relative;

    &:hover,
    &:focus {
      box-shadow: $shadow-portfolio;
    }
  }

  &__box {
    background-size: contain;
    width: 370px;
    height: 294px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }

  &__slider {
    width: 100%;
    height: 100%;
    transform: translatey(100%);
    transition: $animation;
    background: $portfolio;
    color: $white;
    padding-left: 24px;
    padding-top: 49px;
    padding-right: 46px;
    padding-bottom: 49px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-align: left;
  }

  &__heading {
    padding-top: 20px;
    padding-bottom: 4px;
    padding-left: 24px;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $black-second;
  }

  &__summary {
    padding-left: 24px;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: $gray;
  }
  &__box:hover &__slider {
    transform: translate(0);
  }
}

@each $pict in one, two, three, four, five, six, seven, eight, nine {
  .img-#{$pict} {
    background-image: url('../images/img-#{$pict}.jpg');
  }
}
