/* Our team: four people signed with their full name and contact details */

.team-position {
  display: flex;
}

.team-background {
  background-color: var(--whatitis);
}

.team__photo-position {
  margin: 15px;
  background: var(--whitehihi);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__photo-signature {
  text-align: center;
  background-color: var(--whitehihi);
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__photo-signature--details {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--blackhawk);
  margin-left: 24px;
  margin-top: 20px;
  margin-right: 24px;
}

@import './team-social';
