@media (min-width: 320px) {
  .box-social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 24px;
    
  }
  .box-social--circle {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--gray-special);
  }

  .box-social--circle:hover {
    background-color: var(--kamikaze);
    fill: var(--whitehihi);
    cursor: pointer;
    transition: 0.5s;
  }
}

@media (min-width: 1200px) {
  .box-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .box-social--circle {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--gray-special);
  }

  .box-social--circle:hover {
    background-color: var(--kamikaze);
    fill: var(--whitehihi);
    cursor: pointer;
    transition: 0.5s;
  }
}
