/* component wallpaper with heading and button  - people in job ( I hope so) */
  .wallpaper {
    width: 480px;
    height: 400px;
    background-image: url('../images/img.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  .wallpaper__background {
    display: none;
  }


@media (min-width: 1200px) {
  .wallpaper {
    width: 1600px;
    height: 600px;
    border-radius: 0px;
    background-color: var(--shark);
    color: var(--whitehihi);
    background-image: url('../images/img.png');
  }

  .wallpaper__background {
    position: absolute;
    width: 1600px;
    height: 600px;
    background: rgba(47, 48, 58, 0.4);
  }

  .wallpaper__heading {
    display: flex;
    padding-top: 200px;
    justify-content: center;
    text-align: center;
  }
}
