.overlay {
  width: 100%;
  height: 100%;
  transform: translatey(100%);
  transition: var(--animation-primary);
  background: rgba(33, 150, 243, 0.9);
}

.overlay p {
  color: var(--whitehihi);
  padding-left: 24px;
  padding-top: 49px;
  padding-right: 46px;
  padding-bottom: 49px;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
}