:root {
  --blackhawk: #000000;
  --blackho: #212121;
  --kamikaze: #2196f3;
  --grayhey: #757575;
  --whitehihi: #ffffff;
  --shark: #2f303a;
  --buttonwhite: #f5f4fa;
  --gray-background: #e5e5e5;
  --whatitis: #f5f4fa;
  --border: #eeeeee;
  --border-header: #ececec;
  --gray-special: #afb1b8;
  --animation-primary: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  --shadow-one: rgba(0, 0, 0, 0.15);
  --background-joinus: rgba(255, 255, 255, 0.1);
}
