$white: #ffffff;
$white-second: #eeeeee;
$white-third: #afb1b8;
$black: #000000;
$black-second: #212121;
$gray-second: #2f303a;
$gray-footer: rgba(255, 255, 255, 0.6);
$gray: #757575;
$button-color: #f5f4fa;
$blue: #2196f3;
$slider-color: rgba(47, 48, 58, 0.4);
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$animation: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
$social-background: rgba(255, 255, 255, 0.1);
$offer-color: rgba(47, 48, 58, 0.8);
$portfolio: rgba(33, 150, 243, 0.9);
$shadow-portfolio: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
$shadow-button: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
$shadow-modal: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
$backdrop-color: rgba(0, 0, 0, 0.3);
$modal-close-color: rgba(0, 0, 0, 0.1);
$modal-color: rgba(33, 33, 33, 0.2);
$modal-color-second: rgba(117, 117, 117, 0.5);
$shadow-team: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);

$lg: 1200px;
$md: 768px;
$sm: 1200px;
